@page "/"

<PageTitle>Workflowy Converter</PageTitle>

@if (_rootNode is null)
{
    <InputFile id="fileInput" OnChange="UploadFilesAsync" hidden />

    <MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
        Upload Files
    </MudButton>
}
else
{
    <MudGrid Spacing="10" Justify="Justify.Center">
        <MudItem xs="6">
            <MudTreeView T="WorkflowyNode" @bind-SelectedValue="_selectedNode" Hover="true">
                <MudTreeViewItem Value="@_rootNode" Text="@_rootNode.Todo" Expanded="true">
                    @foreach (var node in _rootNode.Children)
                    {
                        <MudTreeViewItem Value="@node" Text="@node.Todo" />
                    }
                </MudTreeViewItem>
            </MudTreeView>
        </MudItem>
        <MudItem xs="6">
            <p>@_rootNode.Todo</p>
        </MudItem>
    </MudGrid>
}

@code
{
    private string? _text;
    private WorkflowyNode? _rootNode;
    private WorkflowyNode? _selectedNode;

    private async Task UploadFilesAsync(InputFileChangeEventArgs e)
    {
        var stream = e.File.OpenReadStream();
        _rootNode = await WorkflowyNode.ReadFromAsync(stream);
    }
}